/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define QWERTY 0
#define NUM 1
#define SYM 2
#define ARROWS 3
#define MEDIA 4
#define NAV 5

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
/* Qwerty
 * ,----------------------------------.        ,----------------------------------.
 * |   Q  |   W  |   E  |   R  |   T  |        |   Y  |   U  |   I  |   O  |   P  |
 * |------+------+------+------+------|        |------+------+------+------+------|
 * |   A  |   S  |   D  |   F  |   G  |        |   H  |   J  |   K  |   L  |   ;  |
 * |------+------+------+------+------|        |------+------+------+------+------|
 * |   Z  |   X  |   C  |   V  |   B  |        |   N  |   M  |   ,  |   .  |   /  |
 * `-------------+------+------+------|        |------+------+------+-------------'
 *               |F_SYM |F_NUM | Space|        | Bspc |F_ARR |F_MED |
 *               `--------------------'        `--------------------'
 */
                        bindings = <
    &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y    &kp U      &kp I          &kp O         &kp P
    &lt NAV A   &kp S       &kp D       &kp F       &kp G       &kp H    &kp J      &kp K          &kp L         &kp SEMI
    &mt LSHFT Z &mt LCTRL X &mt LGUI C  &mt LALT V  &kp B       &kp N    &mt RALT M &mt RGUI COMMA &mt RCTRL DOT &mt RSHFT FSLH
                            &lt SYM ESC &lt NUM TAB &kp SPACE   &kp BSPC &mo ARROWS &lt MEDIA RET
                >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN>;
        };
        num_layer {
/* Numbers
 * ,----------------------------------.        ,----------------------------------.
 * |   0  |   7  |   8  |   9  |      |        |  F1  |  F2  |  F3  |  F4  |  F5  |
 * |------+------+------+------+------|        |------+------+------+------+------|
 * |      |   4  |   5  |   6  |   =  |        |  F6  |  F7  |  F8  |  F9  |  F10 |
 * |------+------+------+------+------|        |------+------+------+------+------|
 * |      |   1  |   2  |   3  |   -  |        |  F11 | AF12 |      |      |      |
 * `-------------+------+------+------|        |------+------+------+-------------'
 *               |   .  |      |      |        |      |      |      |
 *               `--------------------'        `--------------------'
*/
                        bindings = <
    &kp N0 &kp N7 &kp N8 &kp N9 &trans      &kp F1  &kp F2       &kp F3 &kp F4 &kp F5
    &trans &kp N4 &kp N5 &kp N6 &kp EQUAL   &kp F6  &kp F7       &kp F8 &kp F9 &kp F10
    &trans &kp N1 &kp N2 &kp N3 &kp MINUS   &kp F11 &mt RALT F12 &trans &trans &trans
                 &kp DOT &trans &trans   &trans &trans &trans
                >;
        };
        sym_layer {
/* Symbols
 * ,----------------------------------.        ,----------------------------------.
 * |   `  |      |   _  |   +  |   \  |        |      |      |      |      |      |
 * |------+------+------+------+------|        |------+------+------+------+------|
 * |   {  |   }  |   -  |   =  |      |        |      |      |      |      |      |
 * |------+------+------+------+------|        |------+------+------+------+------|
 * |   [  |   ]  |   (  |   )  |      |        |      |      |      |      |      |
 * `-------------+------+------+------|        |------+------+------+-------------'
 *               |      |      |      |        |      |      |      |
 *               `--------------------'        `--------------------'
 */
                        bindings = <
    &kp GRAVE  &trans   &kp UNDER &kp PLUS  &kp BSLH   &trans &trans &trans &trans &trans
    &kp LBRC   &kp RBRC &kp MINUS &kp EQUAL &trans     &trans &trans &trans &trans &trans
    &kp LBKT   &kp RBKT &kp LPAR  &kp RPAR  &trans     &trans &trans &trans &trans &trans
                        &trans    &trans    &trans     &trans &trans &trans
                >;
        };
        arrows_layer {
/* Arrows
 * ,----------------------------------.        ,----------------------------------.
 * |      |      |      |      |      |        |      |   {  |   }  |   [  |   ]  |
 * |------+------+------+------+------|        |------+------+------+------+------|
 * |      |      |      |      |      |        |      |      |      |  Up  |   '  |
 * |------+------+------+------+------|        |------+------+------+------+------|
 * |      |      |      |      |      |        |      |      | Left | Down | Right|
 * `-------------+------+------+------|        |------+------+------+-------------'
 *               |      |      |      |        |      |      |      |
 *               `--------------------'        `--------------------'
 */
                        bindings = <
    &trans &trans &trans &trans &trans   &trans &kp LBRC &kp RBRC &kp LBKT &kp RBKT
    &trans &trans &trans &trans &trans   &trans &trans   &trans   &kp UP   &kp APOS
    &trans &trans &trans &trans &trans   &trans &trans   &kp LEFT &kp DOWN &kp RIGHT
                  &trans &trans &trans   &trans &trans   &trans
                >;
        };
        media_layer {
/* Media
 * ,----------------------------------.        ,----------------------------------.
 * |      |      |      |      |      |        |      |      |      |      |      |
 * |------+------+------+------+------|        |------+------+------+------+------|
 * |      |      |      |      |      |        |      |      |PTrack| Vol+ |NTrack|
 * |------+------+------+------+------|        |------+------+------+------+------|
 * |      |      |      |      |      |        |      |      | Prev | Vol- | Next |
 * `-------------+------+------+------|        |------+------+------+-------------'
 *               |      |      |      |        | Play | Mute |      |
 *               `--------------------'        `--------------------'
 */
                        bindings = <
    &trans &trans &trans &trans &trans   &trans   &trans     &trans     &trans       &trans
    &trans &trans &trans &trans &trans   &trans   &trans     &kp C_FF   &kp C_VOL_UP &kp C_RW
    &trans &trans &trans &trans &trans   &trans   &trans     &kp C_PREV &kp C_VOL_DN &kp C_NEXT
                  &trans &trans &trans   &kp C_PP &kp C_MUTE &trans
                >;
        };
        nav_layer {
/* Navigation
 * ,----------------------------------.        ,----------------------------------.
 * |      |      | PgUp | PgDn | Pscr |        |      |      |      |      |      |
 * |------+------+------+------+------|        |------+------+------+------+------|
 * |      |      | Home |  End | Paus |        |      |      |      |      |      |
 * |------+------+------+------+------|        |------+------+------+------+------|
 * |      |      | Ins  |  Del | Slck |        |      |      |      |      |      |
 * `-------------+------+------+------|        |------+------+------+-------------'
 *               |      |      |      |        |      |      |      |
 *               `--------------------'        `--------------------'
 */
                        bindings = <
    &trans &trans &kp PG_UP &kp PG_DN &kp PSCRN         &trans &trans &trans &trans &trans
    &trans &trans &kp HOME  &kp END   &kp PAUSE_BREAK   &trans &trans &trans &trans &trans
    &trans &trans &kp INS   &kp DEL   &kp SLCK          &trans &trans &trans &trans &trans
                  &trans    &trans    &trans            &trans &trans &trans
                >;
        };
    };
};
